
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    header {
        background-image: url("bg-header.jpg");
        background-size: cover;
        background-position: center;
        height: 150px;
		padding: 20px;
    }

    h1 {
		text-align: left;
        color: green;
        font-family: Verdana, sans-serif;
		border: 2px dashed red;
		padding: 10px;
		margin: 20px;
		
		
    }

    p {
        padding: 20px;
        text-align: justify;
    }
	
	.box1 {
    border: 2px dashed red;
    padding: 10px;
    margin: 20px;
	}

	.box2 {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
	}

	.box3 {
    border: 2px dashed blue;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
	}

    footer {
        background-image: url("bg-footer.jpg");
        background-size: cover;
        background-position: center;
        height: 100px;
    }
